body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

/* Center container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* Card */
.card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background-color: #ff6b00;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #e65c00;
}

.link {
  margin-top: 15px;
}